/* styles.css */


body {
    background-image: url('/static/veggies.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Center content vertically and horizontally */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
