<!DOCTYPE html>
<html>
<head>
    <title>Eat or Pass</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="icon" href='/static/Eat or Pass.png'>
</head>
<body class="text-center">
    <div class="container">
        <h1 class="mt-5">Welcome to Eat or Pass!</h1>
        <p class="lead">Enter a food item and find out if it's healthy or unhealthy.</p>
        <form class="mt-3" action="/" method="post">
            <input type="text" name="food" placeholder="Enter a food item" class="form-control">
            <button type="submit" class="btn btn-primary mt-3">Check</button>
        </form>
    </div>
</body>
</html>
